
#------------------------------------
#   [4206] Tier 3 uniques 
#------------------------------------

Show # $type->uniques $tier->t3boss
    Rarity Unique
    BaseType == {{T3Uniques}}
    SetFontSize 45
    SetTextColor 175 96 37 255
    SetBorderColor 175 96 37 255
    SetBackgroundColor 53 13 13 255
    PlayAlertSound 2 300
    PlayEffect Brown
    MinimapIcon 2 Brown Star

